*{
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
    box-sizing: border-box;
    padding: 5px;
}
.fileInfomation{
    margin-top: 20px;
    line-height: 2em;
}
#imageUploadInput{
    display: none;
}
#imagePreview{
    max-width: 100px;
    max-height: 100px;
}
.btn{
    display: inline-block;
    padding: 7.5px 15px;
    background-color: #0099cc;
    color: #ffffff;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    margin: 5px;
}
.btn:hover,
.btn-center:hover{
    background-color: #333;
    color: #ffffff;
}
.btn-center{
    display: inline-block;
    padding: 7.5px 15px;
    background-color: #0099cc;
    color: #ffffff;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    margin: 5px;
    width: 100%;
}



.infor-img{
    padding: 5px;
    width: 100%;
    border: 2px solid #0099cc;
}
.infor-img>p{
    width: 100%;
    text-align: left;
}
#name, #name_img{
    outline: none;
    border: none;
    display: block;
    width: 100%;
    border-bottom: 1px solid #333;
    padding: 5px;
    text-align: left;
    overflow: scroll;
}
form>input{
    outline: none;
}
canvas {
    background-color: #ffffff;
    padding: 0;
}
/* css drag and drop */

#drop-area {
    border: 2px dashed rgb(255, 0, 0);
    border-radius: 20px;
    padding: 20px;
  }
  #drop-area.highlight {
    border-color: purple;
  }
  .my-form {
    margin-bottom: 10px;
  }
  #gallery {
    margin-top: 10px;
  }
  #gallery img {
    width: 150px;
    margin-bottom: 10px;
    margin-right: 10px;
    vertical-align: middle;
  }
  #fileElem {
    display: none;
  }